#container.admins #logo{
  display: none;
}

#pagination
{
  font-family:"Lucida Sans Unicode", "Lucida Grande", 
  Sans-Serif;font-size:12px;
  width:960px;
  text-align:center;
  border-collapse:collapse;
  border-top:7px solid #9baff1;
  border-bottom:7px solid #9baff1;
  margin:20px;
}
.tc-table
{
  font-family:"Lucida Sans Unicode", "Lucida Grande", 
  Sans-Serif;font-size:12px;
  width:960px;
  text-align:center;
  border-collapse:collapse;
  border-top:7px solid #9baff1;
  border-bottom:7px solid #9baff1;
  margin:20px;
}

.tc-table th
{
  font-size:13px;
  font-weight:normal;
  background:#e8edff;
  border-right:1px solid #9baff1;
  border-left:1px solid #9baff1;
  color:#039;
  padding:8px;
}
.tc-table td
{
  background:#e8edff;
  border-right:1px solid #aabcfe;
  border-left:1px solid #aabcfe;
  color:#669;
  padding:8px;
}

.tc-table .hits input {
  width: 40px;
}

td.hits {
  width: 12%;
}

