/* YUI stylesheet reset */ 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}

/* Global CSS */ 

body, html  {
  background-color: #d3cbc2;
  background-image:url(/images/bkg.png);
  font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: black;
  height:730px;
}

#container {
	background-color:white;
	background-position:right top;
	background-repeat:no-repeat;
	border:1px solid #89a5ae;
	height:700px;
	left:50%;
	margin:10px 10px 10px -500px;
	position:absolute;
	top:0;
	width:1000px;
}

a {
  color: black;
}

.timeline-copyright {
	display:none;
}

#title_image {
	left:20px;
	position:absolute;
	top:20px;
}

#content_container { 
	background-color:white;
	border-top:1px solid black;
	bottom:0;
	margin-left:20px;
	position:absolute;
	top:88px;
	width:960px;
}

#view_page { 
	background-color:white;
	border-top:1px solid black;
	bottom:0;
	margin-left:20px;
	position:absolute;
	top:95px;
	width:960px;
}


#user_nav {
	position:absolute;
	right:42px;
	top:16px;
	width:20px;
}

#sign_in input{ 
	font-family:“Helvetica Neue”,Arial,Helvetica,sans-serif;
	font-size:12px;
	text-decoration:underline;
}

#sign_in a {
	margin-top:0;
	position:relative;
	text-decoration:none !important;
	top:-3px;
}

#logout {
	height:43px;
	position:absolute;
	text-decoration:underline;
	text-transform:capitalize;
	top:1px;
	width:100px;
}

#home_link {
	background-color:white;
	border:medium none;
	bottom:53px;
	color:black;
	font-size:22px;
	font-weight:bold;
	height:20px;
	left:483px;
	position:absolute;
	text-transform:capitalize;
}

#flash {
	left:628px;
	position:absolute;
	top:81px;
	z-index:200;
}

/* Index Page */ 

#top_timelines h3 {
	border-bottom:1px solid black;
	font-size:20px;
	margin-bottom:10px;
	padding-bottom:1px;
	padding-left:0;
	width:400px;
}

#top_timelines { 
	height:400px;
	position:absolute;
	top:30px;
	width:460px;
	left:20px;
}


#user_timelines {
	position:absolute; 
	left:540px;
	top:30px;
}

#user_timelines h3 {
	border-bottom:1px solid black;
	font-size:20px;
	margin-bottom:10px;
	padding-bottom:1px;
	padding-left:0;
	width:400px;
}

.timeline_link {
	float:left;
	width:40px;
	display: block;
}

.top_chart_title {
	clear:left;
	font-weight: bold;
	font-size:20px;
	float:left;
}

.top_chart_dates {
	float:left;
	margin-left:6px;
	margin-top:7px;
}

.top_chart_user {
	clear:left;
	font-size:10px;
	margin-bottom:12px;
	width:300px;
}

.top_chart_link {
	width:400px;
	display:block;
	text-decoration:none;
	padding:3px;
}

.user_chart_title {
	clear:left;
	font-weight: bold;
	font-size:20px;
	float:left;
}

.user_chart_dates {
	float:left;
	margin-left:6px;
	margin-top:7px;
}

.user_chart_controls {
	clear:left;
	font-size:10px;
	width:300px;
}

.top_chart_link {
	width:400px;
	display:block;
	text-decoration:none;
	padding:3px;
	padding-left:10px;
}

.user_chart_summary {
	width:400px;
	display:block;
	text-decoration:none;
	padding:3px;	
	margin-bottom:26px;
	padding-left:10px;
}




/* do the colour changing */
.top_chart_link:hover {
	background-color:black;	
}

.top_chart_link:hover p{
	color:white;
	background-color:black;
}

.delete_timeline_link {
	background-color:white;
	border:medium none;
	cursor:pointer;
	display:block;
	float:left;
	margin-left:-7px;
	margin-top:-1px;
	text-decoration:underline;
	width:40px;
}

#add_timeline {
	background-color:white;
	border:medium none;
	font-size:20px;
	margin-top:20px;
	margin-left:180px;
	font-weight:bold;
	cursor:pointer;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

/* VIEW PAGE */ 

#view_info {
	position:absolute;
	width:200px;
	top:540px;
}

#facebook_share {
	overflow:hidden;
	position:absolute;
	right:0px;
	top:440px;
	width:47px;
}

#view_page #my-timeline {
	top:40px;
}

.view_page h1 {
	display:block;
	font-size:40px;
	left:293px;
	position:absolute;
	top:-77px;
	z-index:1000;
}

#view_page #home_link {
	top:40px;
}	

.view_page #my-timeline {
	top:20px;
}	

.view_page #view_info {
	top:440px;
}




/*  EDIT PAGE */ 

#my-timeline {
    position: absolute; 
    top:100px;
    width:960px;  
    height:400px!important;
    z-index:0;
}

.pencil {
    cursor:pointer;
}

/* TIMELINE */ 

.info {font-size:9px;}

.timeline-event-label {
	width:auto!important;
	margin-top:-10px;
	font-size:12px;
	margin-left:1px;
}

.timeline-event-label p {
	display:inline;
}

.ui-resizable {
	position:absolute!important; 
}

.ui-resizable-e {
	cursor: e-resize;
	top:2px;
}

.timeline-event-tape {
	height:10px!important;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	overflow: visible!important;
	background-color:transparent!important;
	background-image:url(/images/bkg_tape_blue.png); 
	
}

#my-timeline .red {
	background-image:url(/images/bkg_tape_red.png);
}

#my-timeline .green {
	background-image:url(/images/bkg_tape_green.png);
}

#my-timeline .violet {
	background-image:url(/images/bkg_tape_violet.png);
}

.timeline-event-label {
	background-image:none!important;
}

.timeline-event-label {
	margin-top:9px!important;
}

.label_title {
	cursor:text;
}

.band_1 {
	top:2px!important;
}

.band_2 {
	top:25px!important; 
}

.band_3 {
	top:50px!important; 
}

.band_4 {
	top:75px!important; 
}

.band_5 {
	top:100px!important; 
}

.band_6 {
	top:100px!important; 
}

.band_7 {
	top:120px!important; 
}

.band_8 {
	top:140px!important; 
}

.band_9 {
	top:160px!important; 
}

.band_10 {
	top:180px!important; 
}

.pencil {
	margin-left:5px;
}

#active_text {
	border:1px solid black;
}

#auto_add {
	position:absolute; 
	top:600px;
	left:20px;

}

#auto_add textarea {
	width:540px;
	height:200px;
}

/* controls */

#edit_timeline_chart {
   position:absolute;
   top:20px;
   width:800px;
}

#edit_timeline_chart div{
	width:155px;
	float:left;
}

#timeline_chart_center_year {
	width:57px;
}

#timeline_chart_center_year_wrapper{
	width:80px!important;
}

#timeline_chart_zoom {
	margin-top:-3px;
	height:10px;
}

#timeline_chart_zoom_wrapper {
	width:80px!important;
}
	
#timeline_chart_zoom_wrapper label{
	display:block;
	position:relative; 
	top:-2px;
}	

#timeline_chart_private_div {
	margin-left:17px;
	margin-top:-3px;
	width:68px !important;
}

#timeline_chart_submit {
	margin-left:-70px;
	margin-top:18px!important;
	width:60px;
}

#new_event_form {
	display:inline;
	position:absolute;
	right:0px;
	top:22px;
	width:372px;
}

#event_submit {
	margin-top:15px;
}

#new_event div{
	float:left;
  margin-left: 20px;  
  margin-bottom: 10px;  
}	

#new_event_form .event_title input.string {
	width:140px;
}

#new_event_form input.string {  
  display: block;
  width:40px;
}  

#new_event_form .start_date{
	margin-left:20px;
}

#edit_event {
	display:block;
	width:252px;
}

#edit_event_form .event_title input.string {
	width:180px;
}

#color_selector {
	visibility:hidden;
}

#edit_event_form #color_selector {
	visibility:visible;
}




#edit_event_form #color_selector {  
  width:40px;
}  

#edit_event_form div{
  margin-top: 10px;  
  margin-bottom: 16px;  
}	

#new_duration {
	top:70px;
	position:absolute;
	width:200px;
	height:10px!important;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: none;
	background-color:transparent!important; 
	overflow: visible!important;
	background-image:url(/images/bkg_tape_blue.png);
	z-index:4;
}	

#new_duration span {
	font-size:12px;
	left:1px;
	position:relative;
	top:9px;
}

label {  
	margin:2px 2px 2px 0; 
}  

.timeline_chart input, .timeline_chart select {  
  margin-right:10px;
}  

/* Hack to remove abbr */ 

abbr {
	display:none; 
}	


 /* Stuff that rails has done... */ 



.flash_notice {
	color:black;
	font-size:20px;
	font-weight:bold;
	left:320px;
	position:absolute;
	text-align:left;
	text-transform:uppercase;
	top:36px;
	width:600px;
}

.flash_error {
	color:black;
	font-size:20px;
	font-weight:bold;
	left:320px;
	position:absolute;
	text-align:left;
	text-transform:uppercase;
	top:36px;
	width:600px;
	color:red;
}

.fieldWithErrors {
  display: inline;
  background-color:red; 
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
  visibility:hidden;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages ul {
	left:321px;
	position:absolute;
	top:60px;
	visibility:visible;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
  
.timeline_chart div.input {  
  float: left;  
}  

.timeline_chart input.string {  
  width:140px;
}  

/* MODAL WINDOW CSS */ 

.modal-overlay
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#fff;
	opacity:.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	z-index:101;
}

.modal-window
{
	background-color:white;
	border:1px solid black;
	left:50%;
	margin-left:-200px !important;
	padding:10px;
	position:absolute;
	top:83px;
	width:400px;
	z-index:102;
}

.modal-window #new_event_start_date {
	margin-left:0px;
}

.close-window
{
	background:url("/images/close-button.png") no-repeat scroll right top transparent;
	cursor:pointer;
	height:32px;
	opacity:0.5;
	overflow:hidden;
	position:absolute;
	right:10px;
	text-indent:-99999px;
	top:10px;
	width:32px;
}

.close-window:hover
{
	opacity:.99;
	filter: alpha(opacity=99);
	-moz-opacity: 0.99;
}
