/* YUI stylesheet reset */ 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}

/* Global CSS */ 

body, html  {
  background-color: #9CB4CA;
  font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif; 
  font-size: 14px;
  color: #333333;

}

a {
  color: #0000FF;
}

.timeline-copyright {
	display:none;
}

/* for titles */
h1 {
	position:absolute; 
	top:20px; 
	left:0px;
}

#strap {
	left:0px;
	position:absolute;
	top:50px;
}

/* Index Page */ 

#top_timelines { 
	position:absolute; 
	left:20px;
	top:30px;
}

#user_timelines {
	position:absolute; 
	left:500px;
	top:30px;
}

#add_timeline {
	margin-top:20px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  left:50%; 
  margin:0 auto;
  margin-left:-500px;
  position:absolute;
  width:1000px;
  bottom:0px;
  top:0px;
}

#content_container { 
	position:absolute; 
	top:70px;
	bottom:0px;
	width:100%;
	background-color: white;
}

#user_nav {
	position:absolute;
	right:20px;
	top:30px;
	width:200px;
}

#user_nav input {
	background-color:white;
	border:1px solid black;
	height:43px;
	position:absolute;
	right:-18px;
	top:-11px;
	width:200px;
}

/* HOME PAGE */ 

.timeline_summary { 
	width:200px;
	float:left;
}

.timeline_link {
	float:left;
	width:60px;
}

.delete_timeline_link {
	float:left;
}

/*  EDIT PAGE */ 

#my-timeline {
    position: absolute; 
    top:100px;
    left:20px;
    right:20px;    
}

/* controls */

#edit_timeline_chart {
   background-color:#EEEEEE;
   left:20px;
   position:absolute;
   top:20px;
}

#new_event {
	background-color:#EEEEEE;
	position:absolute;
	right:20px;
	top:60px;
	width:530px;
}


#new_duration {
	border:1px solid black;
	left:20px;
	position:absolute;
	top:60px;
	width:200px;
	z-index:4000;
}	

label {  
	margin:2px 2px 2px 0; 
}  

.timeline_chart input, .timeline_chart select {  
  margin-right:10px;
}  

.required {
	display:inline;
}

/* Hack to remove abbr */ 

abbr {
	display:none; 
}	


 /* Stuff that rails has done... */ 

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error, .flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
  
.timeline_chart div.input {  
  float: left;  
}  

.timeline_chart input.string {  
  width:140px;
}  

#event_title {  
  width:140px;
}  

.event input.string {  
  width:40px;
}  
.event div.input {  
  margin-bottom: 10px;  
}  

.event div.boolean label {  
  float: none;  
  margin: 0;  
}  
