/* YUI stylesheet reset */ 

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}

/* Global CSS */ 

body, html  {
  background-color: #9CB4CA;
  font-family: “Helvetica Neue”, Arial, Helvetica, sans-serif; 
  font-size: 12px;
  color: #333333;

}


#container {
  left:50%; 
  margin:0 auto;
  margin-left:-500px;
  position:absolute;
  width:1000px;
  height:1000px;
  top:0px;
}


a {
  color: #0000FF;
}

.timeline-copyright {
	display:none;
}

/* for titles */
h1 {
	position:absolute; 
	top:20px; 
	left:0px;
}

#strap {
	left:0px;
	position:absolute;
	top:50px;
}

/* Index Page */ 

#top_timelines { 
	position:absolute; 
	left:20px;
	top:30px;
}

#user_timelines {
	position:absolute; 
	left:500px;
	top:30px;
}

#add_timeline {
	margin-top:20px;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}


#content_container { 
	position:absolute; 
	top:70px;
	bottom:0px;
	width:100%;
	background-color: white;
}

#user_nav {
	position:absolute;
	right:20px;
	top:30px;
	width:200px;
}

#user_nav input {
	background-color:white;
	border:1px solid black;
	height:43px;
	position:absolute;
	right:-18px;
	top:-11px;
	width:200px;
}

/* HOME PAGE */ 

.timeline_summary { 
	width:200px;
	float:left;
}

.timeline_link {
	float:left;
	width:60px;
}

.delete_timeline_link {
	float:left;
}

/*  EDIT PAGE */ 

#my-timeline {
    position: absolute; 
    top:100px;
    margin-left:20px;
    width:940px;  
    height:400px!important;
    z-index:0;
}

.pencil {
    cursor:help
}

/* TIMELINE */ 

.info {font-size:9px;}

.timeline-event-label {
	width:auto!important;
	margin-top:-10px;
	font-size:12px;
	margin-left:1px;
}

.ui-resizable {
	position:absolute!important; 
}

.ui-resizable-e {
	cursor: e-resize;
	top:2px;
}

.timeline-event-tape {
	height:10px!important;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	background-color:transparent!important; 
	overflow: visible!important;
	background-image:url(/images/bkg_tape_blue.png);
}


.pencil {
	margin-left:2px;
}

#auto_add {
	position:absolute; 
	top:600px;
	left:20px;

}

#auto_add textarea {
	width:540px;
	height:200px;
}

/* controls */

#edit_timeline_chart {
   left:20px;
   position:absolute;
   top:20px;
   width:800px;
}


#edit_timeline_chart div{
	width:155px;
	float:left;
}
#edit_timeline_chart input, #edit_timeline_chart select {
	margin-top:3px;
}	

#timeline_chart_start_year input{
	width:60px;
}

#timeline_chart_end_year input{
	width:60px;
}

#timeline_chart_start_year {
	width:77px!important;
}

#timeline_chart_end_year {
	width:77px!important;
}

#timeline_chart_zoom {
	width:70px!important;
	margin-top:-3px;
}

#timeline_chart_zoom label{
	display:block;
}	

#timeline_chart_private_div {
	margin-left:17px;
	margin-top:-3px;
	width:68px !important;
}

#timeline_chart_submit {
	margin-left:-70px;
	margin-top:18px!important;
	width:60px;
}

#new_event {
	
	position:absolute;
	right:20px;
	top:60px;
	width:352px;
}

#new_event div{
	float:left;
}	

#new_event_title {
	width:140px;
}

#new_event_start_date{
	margin-left:20px;
}
#new_event_start_date, #new_event_end_date {
	width:60px;
}


#new_duration {
	left:20px;
	top:70px;
	position:absolute;
	width:200px;
	height:10px!important;
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: none;
	background-color:transparent!important; 
	overflow: visible!important;
	background-image:url(/images/bkg_tape_blue.png);
	z-index:4;
}	

#new_duration span {
	font-size:12px;
	left:1px;
	position:relative;
	top:9px;
}

label {  
	margin:2px 2px 2px 0; 
}  

.timeline_chart input, .timeline_chart select {  
  margin-right:10px;
}  

#new_event_form .required {
	display:inline;
}

#edit_event_form .required {
	display:block;
}

/* Hack to remove abbr */ 

abbr {
	display:none; 
}	


 /* Stuff that rails has done... */ 

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

.flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

.flash_error, .flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
  
.timeline_chart div.input {  
  float: left;  
}  

.timeline_chart input.string {  
  width:140px;
}  

#event_title {  
  width:140px;
}  

.event input.string {  
  width:40px;
}  
.event div.input {  
  margin-bottom: 10px;  
}  

.event div.boolean label {  
  float: none;  
  margin: 0;  
}  


/* MODAL WINDOW CSS */ 

.modal-overlay
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	height:100%;
	width:100%;
	margin:0;
	padding:0;
	background:#fff;
	opacity:.75;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	z-index:101;
}
.modal-window
{
	position:fixed;
	top:50%;
	left:50%;
	margin:0;
	padding:0;
	z-index:102;
}
.close-window
{
	position:absolute;
	width:32px;
	height:32px;
	right:-80px;
	top:-30px;
	background:transparent url('/images/close-button.png') no-repeat scroll right top;
	text-indent:-99999px;
	overflow:hidden;
	cursor:pointer;
	opacity:.5;
	filter: alpha(opacity=50);
	-moz-opacity: 0.5;
}
.close-window:hover
{
	opacity:.99;
	filter: alpha(opacity=99);
	-moz-opacity: 0.99;
}
