/* Stuff that rails has done... */ 



.flash_notice {
   color: black;
    font-size: 16px;
    font-weight: bold;
    margin-right: -300px;
    position: absolute;
    right: 50%;
    text-align: center;
    text-transform: uppercase;
    top: -28px;
    width: 600px;
}

.flash_error {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-right: -300px;
    position: absolute;
    right: 50%;
    text-align: center;
    text-transform: uppercase;
    top: -28px;
    width: 600px;
}

.fieldWithErrors {
  display: inline;
  background-color:red; 
}

.error_messages {
    visibility: hidden;
    height: 0px;
}

.error_messages h2{
  display: none;
}

.error_messages ul {
	left:451px;
	position:absolute;
	visibility:visible;
  color: red;
  font-size:1.2em;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
  
.timeline_chart div.input {  
  float: left;  
}  

.timeline_chart input.string {  
  width:140px;
}  



