<%= stylesheet 'admin'  %>
<%= stylesheet 'users'  %>

<div id='gallery'>
	<%= render :partial => "top_chart", :collection => @top_charts %>
</div>


	<p id='sign_in'> <%= button_to '', 'home/new', :remote => true, :method => :get, :id => :add_timeline %> </p>


