



<div id="gallery">
    <h2 id='user_name'>Hello, <%= @user.name %></h2>
    
    <a href='/timeline_charts/new' id='btn_new_timeline'>&nbsp;</a>
    
    <%= render :partial => "top_chart", :collection => @user.timeline_charts %>
</div>