<div id='content_container'>
	
 	<p>Timeliner is a free app for making timelines. It has a drag and drop interface and allows you to automatically add dates from wikipedia</p>
	<p>To create your own timelines you must register, you can do this through your Facebook, Google or Yahoo accounts.</p>
	
  <div id="top_timelines">
    <h3>Already built</h3>
		<%= render :partial => "top_chart", :collection => @top_charts %>
  </div>
	
	<div id="user_timelines">	
		<h3>Your Timelines</h3>
	 
		<% if current_user %>

		<%= render :partial => "chart_summary", :collection => @user_charts %>

		<%= button_to 'Add a new timeline »', 'home/new', :remote => true, :method => :get, :id => :add_timeline %> 	
	<% else %> 
		<p id='sign_in'>Sign in to add your timeline. <%= (RPXNow.popup_code("#{submit_tag 'Sign in'}",RPX_APP_NAME, users_url)).html_safe %></p> 
	<% end %>
	
	</div> 

</div>
