<h1>Welcome to Timelines</h1>
<div id="add_timeline">
  <%= button_to 'Add a new timeline', 'home/new', :remote => true, :method => :get %>
</div>
<h3 id="top_timelines">Top Timelines</h3>
<% if current_user %>
  <h3 id="user_timelines">Your Timelines</h3>
  <%= render :partial => "chart_summary", :collection => @timeline_charts %>
<% end %>
