<div id="new_event_form">
  <label for='new_event_title'>Event name</label>
  <input name="new_event_title" id='new_event_title' size="50" type="text" value="" />
  
  <label for='new_event_start_year' >Start Year</label>
  <input name="new_event_start_year" id='new_event_start_year' size="50" type="text" value="" />

  <label for='new_event_end_year'>End Year</label>
  <input name="end_year" id='new_event_end_year' size="50" type="text" value="" />
  
  <text name="event[description]" id='event_description' size="50" type="text" value="" />
  
  <input id="new_event_submit" name="commit" type="button" value="" />
</div>
