
<% form = render :partial => 'modal_form', :locals => { :type => 'edit'} %>
$('body').append('<div id="edit_modal"><%= escape_javascript form %></div>');


$('#edit_modal').dialog({
	width: 400, 
	height: 400, 
	resizable: false, 
	open: function(){ 
		/*this to process dates into a human readable format   */
		
		//start
		var edit_start_date_array = $('#edit_start_date').val().split('T');
		edit_start_date_array = edit_start_date_array[0].split('-');
		var start_year 	=  edit_start_date_array[0];
		var start_month =  edit_start_date_array[1];
		var start_day   =   edit_start_date_array[2].split(' ')[0];
		$('#event_title').after('<p id="edit_start_label">Start Date (Y/M/D)');
		$('#edit_start_label').after('<input type="text" value='+start_year+' id="edit_event_start_year" />');
		$('#edit_event_start_year').after('<input type="text" value='+start_month+' id="edit_event_start_month" />');
		$('#edit_event_start_month').after('<input type="text" value='+start_day+' id="edit_event_start_day" /></p>');	
		
		//
		var edit_end_date_array = $('#edit_end_date').val().split('T');
		edit_end_date_array = edit_end_date_array[0].split('-');
		var end_year 	=  edit_end_date_array[0];
		var end_month =  edit_end_date_array[1];
		var end_day   =   edit_end_date_array[2].split(' ')[0];
		$('#edit_event_start_day').after('<p id="edit_end_label">End Date (Y/M/D)');
		$('#edit_end_label').after('<input type="text" value='+end_year+' id="edit_event_end_year" />');
		$('#edit_event_end_year').after('<input type="text" value='+end_month+' id="edit_event_end_month" />');
		$('#edit_event_end_month').after('<input type="text" value='+end_day+' id="edit_event_end_day" /></p>');
		
		$('#event_edit_submit').click(function() {

			var begin_string = $("#edit_event_start_year").val() + " " + $("#edit_event_start_month").val() + " " + $("#edit_event_start_day").val();
			var end_string = $("#edit_event_end_year").val() + " " + $("#edit_event_end_month").val() + " "+ $("#edit_event_end_day").val(); 
			var begindate 	= new Date(begin_string); 
			var enddate 	= new Date(end_string);
			console.log(begindate);
			var theEvent 	= $('#edit_event_id').val(); 
			var startDate 	= begindate.getTime();
			var endDate	 	= enddate.getTime();
			var band		= $('#edit_band').val();
			var title 		= $('#event_title').val(); 
			var description = $('#edit_description').val();
			update_dates_for_event_on_the_server(theEvent, startDate, endDate, band, title, description);
			$('#edit_modal').dialog('close');
		

		});		
	}, 
	close: function() {
		$('#edit_modal').remove();
	}
});

$('.bin').click(function() {
    if(confirm("Do you really want to delete this event?")){
		destory_id = $(this).attr('data-id');
      send_delete_request_to_server(destory_id);
		$('.tape-'+destory_id).remove();
		$('.label-'+destory_id).remove();
		$('#edit_modal').dialog('close');		
		$('#edit_modal').remove();
    }
});

