
<div id='static_container'> 
	
	<h1>About Timeliner</h1> 
	<p>Timeliner is an experiment in making it easier to make and share timelines. It's something we thought could be done better than it is elsewhere... </p>
	
	<p>... but it's also a nice opportuinty to mess around with some cool tech:</p> 
	<ul>

		<li> 
		The <a href='http://simile.mit.edu/'>MIT Smilie library</a> provides a range of javascript interfaces for visualising data.
		</li>

		<li>
		<a href='http://www.freebase.com/'>The Freebase API</a> provides the date "auto-add function", using their auto-suggest functionality and a query on their database to find the dates of events and lifespans. This is the same service which Google bought to play a part in their newly-released semantic search functionality.
		</li>
	</ul>

	<br/>

	<h1>Say hello</h1> 
	<p>We are <a href='http://www.nagisystems.com/home'>Andrew Nagi</a> &amp; <a href='http://jimmytidey.co.uk/'>Jimmy Tidey</p> 

</div> 