<div id='auto_add'> 
	<form > 
		<textarea id='auto_add_text'></textarea> 
		<input type='button' value='Get dates' id='auto_add_submit' />
	</form> 
	
	<div id='auto_add_result'>
	
	</div> 
</div>		
	
		