<% title "Edit Timeline Chart" %>

<%= render 'form' %>
<%= render 'events/form' %>

<div id='new_duration' style='width:200px; border:1px solid black;z-index:4000' data-id='<%= @timeline_chart.id %>'>Duration </div> 
<div id="my-timeline" style="height: 150px; border: 1px solid #aaa;"></div>
<div id="inline_script">
  <%= render :partial => 'timeline_charts/chart', :locals => {:all_events => @timeline_chart.events.all} %>
</div>

