<% title @timeline_chart.title, false %>

<div id='content_container'class='view_page'>
	
	<h1><%= @timeline_chart.title.to_s %></h1> 
	
  <div id="my-timeline" style="height: 150px;"></div>
  <div class="inline_script">
    <%= render :partial => 'timeline_charts/chart', :locals => {:all_events => @timeline_chart.events.all, :edit_mode => 'false' } %>
  </div>
	
	<div id='show_description'> 
		<%= @timeline_chart.description %>
	</div>
	
	<div id='tape_description'> 
		<img id='close_tape_description' src='/images/cross.png' /> 
		<div> </div>
	</div>
	
	<div id="view_info">  
	 	<p>Made in <a href='http://timeline-maker.com/' target="_parent">Timeliner </a></p>
	</div>

</div>	
