<% title "Timeline Chart", false %>

<div id="timeline_summary_info">
  <h1 id="title"> <%= @timeline_chart.title %> </h1>
  <strong>Created by:</strong> <%= @timeline_chart.user %>
</div>

<%= render :partial => 'old_chart', :locals => {:all_events => @timeline_chart.events.all} %>
<noscript>
  This page uses Javascript to show you a Timeline. Please enable Javascript in your browser to see the full page. Thank you.
</noscript>

<% if current_user && current_user.id == @timeline_chart.user.id then %>
  <p>
  <%= link_to "Edit", edit_timeline_chart_path(@timeline_chart) %>
  </p>
<% end %>
